*{
    margin: 0;
    font-family: Arial;
    border: border-box; 
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.logo{
    background-image: url("logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;


}

.nav-logo{
    height: 50px;
    width: 100px;

}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

.del{
    color: #cccccc;
    font-size: 0.9rem;
    margin-left: 15px;
}

.pak{
    font-size: 1.rem;
    margin-left: 3px;
    
}

.add-icon{
    display: flex;
    align-items: center;
}

/*box 3*/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    background-color: orange;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
     border: none
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}

.nav-search:hover{
     border: 2px solid orange;
}

/*box 4*/

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/*box 6*/
.nav-cart i{
    font-size: 30px;

}

.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}

/*panel*/

.panel
{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.opt p{
    display: inline;
    margin-left: 15px;
}

.opt{
    width: 70%;
    font-size: 0.85rem;
}

.deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("img1.jpg");
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    

}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 5px;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
}

a{
    text-decoration: none;
}

/*shop section*/


.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #314669;
}
.box{
    height: auto;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}


.box-img
{
    background-image: url("box1.jpg");
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
    
.box-content p{
    color: #007185;
}

*{
    box-sizing: border-box;
}

/*footer*/


.panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

footer{
    margin-top: 15px;
}

.panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    
}

ul a{
    display: block;
    font-size: 0.7rem;
    margin-top: 11px;
    color: #dddddd;

}

.panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center9;


}

.logo{
    background-image: url("logo.png");
    height: 50px;
    background-size: cover;
    width: 100px;


}

.panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    
    padding-top: 25px;
}

.copyright{
   
    padding-top: 5px;
}